body {
    background: rgb(195, 195, 237);
}
.croissant {
    width: 350px;
    border-radius: 15px;
    display: block;
    margin: 30px auto;
}

footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: blueviolet;
    text-decoration: none;
}

h1,
p {
    text-align: center;
}
