body {
    background: lavender;
}
.croissant {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
}

footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: blueviolet;
    text-decoration: none;
}

h1,
p {
    text-align: center;
}
